<ion-header>
	<app-toolbar [page]="this" [ShowFeature]="true">
		<ion-button id="openVRP" fill="outline" [disabled]="!vrpReady" (click)="onVRPOpen()" color="danger">
			<ion-icon slot="start" name="trail-sign"></ion-icon>
			{{'Dispatch shipments' | translate}}
		</ion-button>
		<!-- <ion-button tollbarSelected id="openReviewVRP" fill="outline"  (click)="openReviewShipments()" color="danger">
			<ion-icon slot="start" name="map"></ion-icon>
			{{'View plan on map' | translate}}
		</ion-button> -->
	</app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="scrollx" [ngClass]="{withFeature: pageConfig.isShowFeature}">
	<ion-fab *ngIf="pageConfig.isShowFeature" class="feature" [ngClass]="{'ion-hide-md-down': !pageConfig.isSubActive}" vertical="top" horizontal="end" slot="fixed">
		<!-- <ion-list>
			<ion-list-header lines="inset">
				<ion-label>Lịch giao hàng</ion-label>
				<ion-button size="small" (click)="addNewShipment()">
					<ion-icon slot="icon-only" name="add"></ion-icon>
				</ion-button>
			</ion-list-header>

			<ion-item lines="inset" *ngFor="let i of shipmentList">
				<ion-label class="ion-text-wrap">
					<ion-text color="primary">
						<h3>{{i.VehicleName}} - {{i.ShipperName}}</h3>
					</ion-text>
					<p>{{i.DeliveryDateText}}</p>
				</ion-label>
				<ion-button (click)="showShipment(i)" [fill]="(item && item.Id == i.Id)? 'solid' : 'outline'">
					{{i.OrderIds.length}} đơn
				</ion-button>
			</ion-item>
		</ion-list>


		<div *ngIf="item">
			<ion-list-header lines="inset">
				<ion-label>Phân tài</ion-label>
				<ion-button size="small" *ngIf="item">{{item.OrderIds.length }} đơn</ion-button>
			</ion-list-header>

			<div class="ion-padding">
				<div class="c-control">
				</div>

				<div class="c-control" (click)="saveShipment()">
					<ion-button [disabled]="submitAttempt" color="primary" expand="block">Phân tài cho {{selectedItems.length}} đơn đang chọn</ion-button>
				</div>
			</div>
		</div> -->

		<div>
			<ion-list-header lines="inset">
				<ion-label color="dark">{{'Dispatch shipments' | translate}}</ion-label>
				<ion-button size="small" (click)="toggleDateFilter()" title="{{'Add filter condition to export excel file of orders to be allocated for delivery' | translate}}">
					<ion-icon slot="icon-only" [name]="exportQuery.ExpectedDeliveryDate=='' ? 'funnel-outline' : 'funnel'"></ion-icon>
				</ion-button>
			</ion-list-header>

			<div class="ion-padding">
				<div class="c-control" *ngIf="exportQuery.ExpectedDeliveryDate!=''">
					<label class="c-label" for="OrderDate">{{'Expected delivery date' | translate}}</label>
					<input class="c-input" [(ngModel)]="exportQuery.ExpectedDeliveryDate" id="OrderDate" type="date" />

					<br />

					<input [(ngModel)]="exportQuery.IsAllOrders" class="c-checkbox" id="IsAllOrders" type="checkbox" />

					<label class="c-label checkbox" for="IsAllOrders"> {{'Export orders allocated for delivery' | translate}} </label>
				</div>

				<div class="c-control">
					<ion-button
						(click)="exportAvailbleOrders()"
						[disabled]="submitAttempt"
						color="primary"
						fill="outline"
						expand="block"
						title="{{'Export tp excel for manual driver allocation, then import back to system' | translate}}"
						>{{'Export' | translate}}</ion-button
					>
					<ion-button (click)="importManualShipment()" [disabled]="submitAttempt" color="primary" fill="outline" expand="block">{{'Import' | translate}}</ion-button>

					<input class="hide-all" #importfile2 type="file" accept=".xlsx" (change)="import2($event)" />
				</div>

				<!-- <div class="c-control">
					<label class="c-label">
						Đề nghị giao hàng theo MCP
					</label>
					
					
				</div> -->
				<ion-button (click)="autoCreateShipment()" [disabled]="submitAttempt" color="primary" expand="block" title="{{'Driver allocation based on MCP' | translate}}"
					>{{'Automatic driver allocation' | translate}}</ion-button
				>
			</div>

			<ion-list *ngIf="orderList.length">
				<ion-list-header lines="inset">
					<ion-label color="dark">{{'Not yet assigned' | translate}}</ion-label>
					<ion-button size="small" (click)="segmentView = 's2'" *ngIf="segmentView == 's1'"> {{'Sort by sale' | translate}} </ion-button>
					<ion-button size="small" (click)="segmentView = 's1'" *ngIf="segmentView == 's2'"> {{'Sort by route' | translate}} </ion-button>
				</ion-list-header>
			</ion-list>
			<ion-list *ngIf="segmentView == 's1'">
				<ion-item lines="inset" *ngFor="let i of routeList">
					<ion-label>
						<h3>{{i.Name}}</h3>
					</ion-label>
					<ion-button> {{i.Count}} {{'Order' | translate}} </ion-button>
				</ion-item>
			</ion-list>
			<ion-list *ngIf="segmentView == 's2'">
				<ion-item lines="inset" *ngFor="let i of sellerList">
					<ion-label>
						<h3>{{i.Name}}</h3>
					</ion-label>
					<ion-button> {{i.Count}} {{'Order' | translate}} </ion-button>
				</ion-item>
			</ion-list>
		</div>

		<div class="ion-padding ion-margin"></div>
	</ion-fab>

	<app-page-title class="ion-padding safe-max-width" [pageConfig]="pageConfig"></app-page-title>
	<div class="safe-max-width">
		<app-data-table
			class="box-shadow responsive"
			[rows]="items"
			[trackBy]="'Id'"
			[(selectedRows)]="selectedItems"
			[showSpinner]="pageConfig.showSpinner"
			[showFilter]="pageConfig.isShowSearch"
			[(query)]="query"
			(dataInfinite)="loadData($event)"
			(filter)="onDatatableFilter($event)"
			(sort)="onSort($event)"
			(selectedRowsChange)="showCommandBySelectedRows($event)"
		>
			<datatable-column [checkbox]="true" name=""></datatable-column>
			<datatable-column class="col-id" name="#" property="Id" [navLink]="pageConfig.pageName"></datatable-column>
			<datatable-column class="col-date" format="yy-MM-dd HH:mm" name="Delivery date" property="DeliveryDate" filterControlType="time-frame"></datatable-column>
			<datatable-column class="col-name flex-break" name="Shipper" property="IDShipper">
				<ng-template let-i="row" datatable-cell-template>
					<div title="{{'View details' | translate}}" (click)="nav('shipment/'+i.Id,'forward')" [ngOptionHighlight]="query.ShipmentTerm">
						<span class="bold">{{i.VehicleName}}</span>
						&nbsp;
						<small title="{{'View shipper information' | translate}}" (click)="nav('staff/'+i.IDShipper,'forward')">{{i.ShipperName}}</small>
					</div>
				</ng-template>
			</datatable-column>

			<datatable-column class="col-code" name="Orders" property="OrderCount">
				<ng-template let-i="row" datatable-cell-template>
					<span>{{i.OrderCount | number: '1.0-1' }} <small>{{i.DebtCount | number: '1.0-1' }} {{'Debts' | translate}}</small></span>
				</ng-template>
			</datatable-column>

			<datatable-column class="col-code" name="Weight - Volume" property="OrderCount">
				<ng-template let-i="row" datatable-cell-template>
					<span>{{i.ProductWeight | number: '1.0-1' }}T - <small>{{i.ProductDimensions | number: '1.0-1' }}m³</small></span>
				</ng-template>
			</datatable-column>

			<!-- <datatable-column class="col-id" name="Orders" property="OrderCount"></datatable-column>
			<datatable-column class="col-id" name="Debts" property="DebtCount"></datatable-column>
			<datatable-column class="col-id" name="Weight" property="ProductWeight"></datatable-column>
			<datatable-column class="col-id" name="Volume" property="ProductDimensions"></datatable-column> -->

			<datatable-column class="col-number bold" format="1.0-0" name="Total" property="OriginalTotalAfterTax"></datatable-column>
			<datatable-column class="col-status" name="Status" property="IDStatus" filterControlType="ng-select-status" [filterDataSource]="statusList" filterBindValue="Id">
				<ng-template let-i="row" datatable-cell-template>
					<ion-badge [color]="i?._Status?.Color" [title]="i?._Status?.Name"> {{i?._Status?.Name | translate}} </ion-badge>
				</ng-template>
			</datatable-column>
		</app-data-table>
	</div>

	<ion-infinite-scroll color="primary" threshold="20%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>

	<ion-modal [isOpen]="isOpenVRP" (willDismiss)="onVRPWillDismiss($event)">
		<ng-template>
			<ion-header collapse="fade">
				<ion-toolbar>
					<ion-title>{{'Shipment assignment optimization' | translate}}</ion-title>
					<ion-buttons slot="end">
						<ion-button (click)="onVRPcancel()" fill="clear">
							<ion-icon slot="icon-only" name="close"></ion-icon>
						</ion-button>
					</ion-buttons>
				</ion-toolbar>
			</ion-header>
			<ion-content appScrollbarTheme>
				<div style="min-height: 0%">
					<ion-list [inset]="true">
						<ion-item>
							<ion-icon color="danger" slot="start" name="warehouse"></ion-icon>
							<ion-select
								placeholder="{{'Select warehouse' | translate}}"
								[(ngModel)]="vrpInputDTO.IDWarehouse"
								(ionChange)="onWarehouseChange($event)"
								interface="popover"
							>
								<div slot="label">{{'Select warehouse' | translate}}</div>
								<ion-select-option *ngFor="let w of warehouseList" [value]="w.Id">{{w.Name}}</ion-select-option>
							</ion-select>
						</ion-item>
						<ion-item>
							<ion-icon color="danger" slot="start" name="truck"></ion-icon>
							<ion-select
								[multiple]="true"
								placeholder="{{'Select delivery vehicles' | translate}}"
								[(ngModel)]="vrpInputDTO.Vehicles"
								(ionChange)="onVehicleChange($event)"
								interface="popover"
							>
								<div slot="label">{{'Select delivery vehicles' | translate}}</div>
								<ion-select-option *ngFor="let v of vehicleList" [value]="v.Id">
									<div>{{v.Name}} - {{v.ShipperName}}</div>
								</ion-select-option>
							</ion-select>
						</ion-item>
						<ion-item>
							<ion-icon color="danger" slot="start" [name]="vrpInputDTO.Option.Constraints.Weight != 'None' ? 'barbell' : 'barbell-outline'"></ion-icon>
							<ion-select placeholder="{{'Select weight constraint' | translate}}" [(ngModel)]="vrpInputDTO.Option.Constraints.Weight" interface="popover">
								<div slot="label">{{'Weight' | translate}}</div>
								<ion-select-option *ngFor="let item of constraintTypeList" [value]="item">{{item | translate}}</ion-select-option>
							</ion-select>
						</ion-item>
						<ion-item>
							<ion-icon color="danger" slot="start" [name]="vrpInputDTO.Option.Constraints.Volume != 'None' ? 'cube' : 'cube-outline'"></ion-icon>
							<ion-select placeholder="{{'Select volume constraint' | translate}}" [(ngModel)]="vrpInputDTO.Option.Constraints.Volume" interface="popover">
								<div slot="label">{{'Volume' | translate}}</div>
								<ion-select-option *ngFor="let item of constraintTypeList" [value]="item">{{item | translate}}</ion-select-option>
							</ion-select>
						</ion-item>
					</ion-list>

					<ion-list [inset]="true">
						<ion-item [button]="true" (click)="showShipmentModal()">
							<ion-icon color="danger" slot="start" name="cart"></ion-icon>
							<ion-label>{{'Select orders' | translate}}</ion-label>
							<ion-note slot="end">{{vrpInputDTO.SO.length}}</ion-note>
						</ion-item>
						<ion-item [button]="true" (click)="showShipmentDebtModal()">
							<ion-icon color="danger" slot="start" name="receipt"></ion-icon>
							<ion-label>{{'Select debt collection slips' | translate}}</ion-label>
							<ion-note slot="end">{{vrpInputDTO.Debt.length}}</ion-note>
						</ion-item>
					</ion-list>

					<ion-list [inset]="true">
						<ion-item>
							<ion-icon color="danger" slot="start" name="trail-sign"></ion-icon>
							<ion-select placeholder="{{'Routing strategy' | translate}}" [(ngModel)]="vrpInputDTO.Option.SolutionStrategy" interface="popover">
								<div slot="label">{{'Routing strategy' | translate}}</div>
								<ion-select-option *ngFor="let i of strategyList" [value]="i.Code">{{i.Name | translate}}</ion-select-option>
							</ion-select>
						</ion-item>
						<ion-item>
							<ion-icon color="danger" slot="start" [name]="vrpInputDTO.IsReviewVRP?'map':'map-outline'"></ion-icon>
							<ion-toggle [(ngModel)]="vrpInputDTO.IsReviewVRP">
								<ion-label>{{'Review route' | translate}}</ion-label>
								<ion-note *ngIf="vrpInputDTO.IsReviewVRP" class="ion-text-wrap" 
									>{{'Review plan on map before creating shipments' | translate}}</ion-note
								>
							</ion-toggle>
						</ion-item>
						<!-- <ion-item>
							<ion-icon color="danger" slot="start" [name]="vrpInputDTO.Option.IsUseGoogleAPI ? 'cloud' : 'cloud-offline-outline'"></ion-icon>
							<ion-toggle [(ngModel)]="vrpInputDTO.Option.IsUseGoogleAPI">
								<ion-label>{{'Use Google Maps API' | translate}}</ion-label>
							</ion-toggle>
						</ion-item>
						<ion-item>
							<ion-icon color="danger" slot="start" [name]="vrpInputDTO.Option.IsUseAI ? 'layers' : 'layers-outline'"></ion-icon>
							<ion-toggle [(ngModel)]="vrpInputDTO.Option.IsUseAI">
								<ion-label>{{'Use AI suggestion' | translate}}</ion-label>
							</ion-toggle>
						</ion-item> -->
					</ion-list>

					<!-- <div class="ion-margin-horizontal">
							<ion-note color="medium"> Your comments will be kept anonymous and will only be used to improve the reliability of our products. </ion-note>
							<pre>{{vrpInputDTO | json}}</pre>
						</div> -->
				</div>

				<!-- <div class="ion-text-right sticky-bottom" style="padding: 8px 16px">
						<ion-button size="small" (click)="onVRPcancel()" fill="outline" color="warning">{{'Cancel' | translate}}</ion-button>
						<ion-button size="small" (click)="onVRPConfirm()" [strong]="true" color="success">{{'Confirm' | translate}}</ion-button>
					</div> -->
			</ion-content>
			<ion-footer collapse="fade">
				<ion-toolbar>
					<buttons slot="start">
						<ion-button *ngIf="vrpOutputDTO != null" (click)="openReviewVRP()" fill="outline" color="primary">{{'View plan on map' | translate}}</ion-button>
					</buttons>
					<buttons slot="end">
						<ion-button (click)="onVRPcancel()" fill="outline" color="warning">{{'Cancel' | translate}}</ion-button>
						<ion-button (click)="onVRPConfirm()" [strong]="true" color="success">{{'Automated dispatching' | translate}}</ion-button>
					</buttons>
				</ion-toolbar>
			</ion-footer>
		</ng-template>
	</ion-modal>
	<ion-modal [isOpen]="isOpenReviewVRP" (willDismiss)="onReviewVRPWillDismiss($event)" class="modal90">
		<ng-template>
			<ion-header collapse="fade">
				<ion-toolbar>
					<ion-title>{{'Review route' | translate}}</ion-title>
					<ion-buttons slot="end">
						<ion-button (click)="onReviewVRPConfirm()" fill="outline" color="primary">
							<ion-icon slot="start" name="checkmark"></ion-icon>
							{{'Save' | translate}}
						</ion-button>

						<ion-button (click)="onReviewVRPCancel()" fill="clear">
							<ion-icon slot="icon-only" name="close"></ion-icon>
						</ion-button>
					</ion-buttons>
				</ion-toolbar>
			</ion-header>
			<ion-content>
				<app-review-vrp
					style="height: 100%; width: 100%; display: block"
					[vrpData]="vrpOutputDTO"
					[vehicleList]="vehicleList"
					[selectedSOList]="selectedSOList"
					[selectedDebtList]="selectedDebtList"
					[selectedWarehouse]="selectedWarehouse"
					(dataChanged)="onVRPDataChanged($event)"
				>
				</app-review-vrp>
			</ion-content>
		</ng-template>
	</ion-modal>
</ion-content>
