<ion-header>
  <ion-toolbar *ngIf="!pageConfig.isShowSearch">
    <ion-buttons slot="start">
      <ion-button color="dark"> {{'Cash transfer' | translate}} </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-chip outline="true" color="primary" (click)="presentPopover($event)">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label color="medium">{{query.DeliveryDate}}</ion-label>
      </ion-chip>

      <ion-button class="hide-small" (click)="refresh()" title="{{'Refresh' | translate}}">
        <ion-icon slot="icon-only" name="reload-outline"></ion-icon>
      </ion-button>

      <ion-button class="hide-small" title="{{'Data Filter' | translate}}">
        <ion-icon slot="icon-only" name="list-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
  <app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>

  <div class="main-view">
    <div class="row-1" *ngIf="items.length">
      <div class="col-1">
        <div class="c-box">
          <app-e-chart *ngIf="chartView=='doanhThu'" [chartOption]="chartOption" chartType="manual"></app-e-chart>
          <app-e-chart *ngIf="chartView=='congno'" [chartOption]="chartOption" chartType="manual"></app-e-chart>
        </div>

        <div class="btn-change-chart">
          <ion-segment [(ngModel)]="chartView" (ionChange)="buildChart();">
            <ion-segment-button value="doanhThu">
              <ion-label>{{'Delivery' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="congno">
              <ion-label>{{'Debt collected' | translate}}</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
      </div>
      <div class="col-2">
        <div class="table-contain" *ngIf="item">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div>
                  <section class="table data-table">
                    <div class="row">
                      <div class="col2 cell">
                        {{'Total value' | translate}} {{item.NumberOfOrder}} {{'Order' | translate}}:
                      </div>
                      <div class="col3 cell">{{item.TongGiaTriText}}</div>
                    </div>
                    <div class="row">
                      <div class="col2 cell">
                        {{'Cash revenue' | translate}}
                        <ion-text color="warning">(1)</ion-text>:
                      </div>
                      <div class="col3 cell">{{item.TotalOfCashOrderText}}</div>
                    </div>
                    <div class="row">
                      <div class="col2 cell">
                        {{item.NumberOfNewDebt}} {{'receivable order' | translate}}
                        <ion-text color="warning">(2) </ion-text>:
                      </div>
                      <div class="col3 cell">{{item.TotalOfDebtOrderText}}</div>
                    </div>
                    <div class="row">
                      <div class="col2 cell">{{item.NumberOfUndoneOrder}} {{'undelivered order' | translate}}:</div>
                      <div class="col3 cell">{{item.TotalOfUndoneOrderText}}</div>
                    </div>
                    <div class="row">
                      <div class="col2 cell">
                        {{'Returned' | translate}}
                        <span>({{item.NumberOfFailOrder}} {{'100% Order' | translate}})</span>:
                      </div>
                      <div class="col3 cell">{{item.TotalOfReturnProductText}}</div>
                    </div>
                  </section>
                </div>
              </ion-col>

              <ion-col>
                <div>
                  <section class="table data-table">
                    <div class="row">
                      <div class="col2 cell">
                        {{'Debts to collect' | translate}} {{item.NumberOfDebt}} {{'Slip' | translate}}:
                      </div>
                      <div class="col3 cell">{{item.CongNoTongText }}</div>
                    </div>
                    <div class="row">
                      <div class="col2 cell">
                        {{'Collected' | translate}} {{item.NumberOfReceivedDebt}} {{'Slip' | translate}}
                        <ion-text color="warning">(3) </ion-text>:
                      </div>
                      <div class="col3 cell">{{item.TotalOfReceivedDebtText}}</div>
                    </div>
                    <div class="row">
                      <div class="col2 cell">
                        {{item.NumberOfRemainingDebt}} {{'Uncollected bill' | translate}}
                        <ion-text color="warning"> (4)</ion-text>:
                      </div>
                      <div class="col3 cell">{{item.TotalRemainingDebtText}}</div>
                    </div>
                    <div class="row">
                      <div class="col2 cell">
                        <b>{{'Total cash on hand' | translate}} <ion-text color="warning">(1)+(3)</ion-text>:</b>
                      </div>
                      <div class="col3 cell">
                        <ion-badge color="primary">{{item.TotalOfCashText}}</ion-badge>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col2 cell">
                        <b>{{'Total debt note' | translate}} <ion-text color="warning">(2)+(4)</ion-text>:</b>
                      </div>
                      <div class="col3 cell">
                        <ion-badge color="primary">{{item.TongPhieuNoMoi}}</ion-badge>
                      </div>
                    </div>
                  </section>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>

    <div class="row-full shadow" *ngIf="items.length && pageConfig.showSpinner==false">
      <div class="table-contain table-contain-main">
        <section class="table">
          <header class="bold">
            <div class="col-status cell ion-hide-sm-down"></div>
            <div class="col2 cell">{{'Truck' | translate}}</div>
            <div class="col3 cell">{{'Total cash on hand' | translate}}</div>
            <div class="col1 cell">{{'New debt' | translate}}</div>
            <div class="col1 cell">{{'Old debt' | translate}}</div>

            <div class="col3 cell ion-hide-sm-down">{{'Cash revenue' | translate}}</div>
            <div class="col3 cell ion-hide-sm-down">{{'Sales receivable' | translate}}</div>
            <div class="col3 cell ion-hide-sm-down">{{'Debt collected' | translate}}</div>
            <div class="col3 cell ion-hide-sm-down">{{'Outstanding Debt' | translate}}</div>
            <div class="col1 cell ion-hide-sm-down">{{'Not yet delivered' | translate}}</div>
            <div class="col3 cell ion-hide-sm-down">{{'Not yet delivered value' | translate}}</div>
            <div class="col1 cell ion-hide-sm-down">{{'100% returned' | translate}}</div>
            <div class="col3 cell ion-hide-sm-down">{{'Returned goods value' | translate}}</div>
          </header>
          <ng-container *ngFor="let i of items; let j = index;">
            <div class="row" [ngClass]="{odd: j % 2 != 0}">
              <div class="col-status cell cell-btn ion-hide-sm-down">
                <span class="bar-holder" *ngIf="i.Status.Id != 329">
                  <ion-text class="bar-title" [color]="i.Status.Color">{{i.Status.Name}}</ion-text>
                  <span
                    class="bar"
                    [ngClass]="{active: s.Id==i.Status.Id}"
                    [ngStyle]="{'background-color': 'var(--ion-color-'+s.Color+')'}"
                    *ngFor="let s of statusList"
                    [title]="s.Name"
                  ></span>
                </span>
                <ion-button
                  class="small-btn"
                  (click)="confirm(i)"
                  *ngIf="i.Status.Id == 329 && pageConfig.canReceiveMoney"
                  size="small"
                  >{{'Nhận' | translate}}</ion-button
                >
              </div>
              <div class="col2 cell">
                <a class="data-title bold" [routerLink]="['/delivery-review/'+i.Id]" (click)="showDetail(i)">
                  {{i.Vehicle}}
                  <small>{{i.DeliveryTime}}</small>
                </a>
              </div>
              <div class="col3 cell">{{i.TotalOfCashText}}</div>
              <div class="col1 cell">{{i.NumberOfNewDebt}}</div>
              <div class="col1 cell">{{i.NumberOfRemainingDebt}}</div>

              <div class="col3 cell ion-hide-sm-down">{{i.TotalOfCashOrderText}}</div>
              <div class="col3 cell ion-hide-sm-down">{{i.TotalOfDebtOrderText}}</div>

              <div class="col3 cell ion-hide-sm-down">{{i.TotalOfReceivedDebtText}}</div>
              <div class="col3 cell ion-hide-sm-down">{{i.TotalRemainingDebtText}}</div>

              <div class="col1 cell ion-hide-sm-down">{{i.NumberOfUndoneOrder}}</div>
              <div class="col3 cell ion-hide-sm-down">{{i.TotalOfUndoneOrderText}}</div>
              <div class="col1 cell ion-hide-sm-down">{{i.NumberOfFailOrder}}</div>
              <div class="col3 cell ion-hide-sm-down">{{i.TotalOfReturnProductText}}</div>
            </div>
          </ng-container>
          <div class="row sum ion-hide-sm-down">
            <div class="col-status cell"></div>
            <div class="col2 cell">{{'Total' | translate}}</div>
            <div class="col3 cell">{{item.TotalOfCashText}}</div>
            <div class="col1 cell">{{item.NumberOfNewDebt}}</div>
            <div class="col1 cell">{{item.NumberOfRemainingDebt}}</div>
            <div class="col3 cell">{{item.TotalOfCashOrderText}}</div>
            <div class="col3 cell">{{item.TotalOfDebtOrderText}}</div>
            <div class="col3 cell">{{item.TotalOfReceivedDebtText}}</div>
            <div class="col3 cell">{{item.TotalRemainingDebtText}}</div>
            <div class="col1 cell">{{item.NumberOfUndoneOrder}}</div>
            <div class="col3 cell">{{item.TotalOfUndoneOrderText}}</div>
            <div class="col1 cell">{{item.NumberOfFailOrder}}</div>
            <div class="col3 cell">{{item.TotalOfReturnProductText}}</div>
          </div>
        </section>
      </div>
    </div>
  </div>
</ion-content>
